/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff914d;
  padding: 12px 20px;
}

.logo a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links li a:hover {
  text-decoration: underline;
}
